body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
aside{
	display: flex;
	flex-direction: column;
}
#player1, #player2{
	width: 150px;
	text-align: center;
}
.containCanvas{
	display: flex;
	justify-content: center;
	width: 875px;
}
canvas{
	/* height: 100px; */
	/* width: 100%; */
	/* font-weight: bolder; */

}
#select1, #select2{
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#commentaire{
	width: 150px;
	height: 40px;
}
main{
	height: 763px;
	width: 875px;
	border: 3px solid #000;
}
.col{
	width: 110px;
	border-radius: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}
#col1row1{
	/*background-color: red;*/
}
.col *{
	height: 110px;
	border: 1.5px solid #000;
	border-radius: 100px;
	z-index: 0;
	margin: 5px 0;
	background-color: #eaeaea;
}
#board{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.valid{
	width: 1065px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

@media screen and (max-width: 992px){
	body{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	aside{
		margin: 2em 0;
	}
	#select1, #select2{
		margin-top: 1em;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	#select1 label, #select2 label{
		margin-right: 1em;
	}
}